<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>병원 검색하기</title>
    <link rel="stylesheet" href="/css/search.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery.serializeObject.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnSearch").on("click", function () {
                search();
            })
        })

        function search() {
            const query = document.getElementById('search-bar').value;
            if (query) {
                alert("병원태그 검색 : " + query);
                location.href = "/hosp/searchHospResult?data=" + query;
            } else {
                alert("태그를 입력하세요.");
            }
            // $.ajax({
            //     url: "/allergy/searchAllergyResult",
            //     type: "post", // 전송방식은 Post
            //     dataType: "JSON", // 전송 결과는 JSON으로 받기
            //     data: {"data" : query }, // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
            //     success: function(json) {
            //         let allergy = json.allergy
            //         let prdlstNm = json.prdlstNm
            //         let prdlstReportNo = json.prdlstReportNo
            //     }
            // })

        }
    </script>


</head>
<body>
<a href="/html/index.html">
    <img src="/assets/img/hospIMG22.jpg">
</a>
<hr style="border-width: 5px;"/>
<br/>
<div class="search-container">
    <input type="text" id="search-bar" placeholder="병원 태그를 입력하세요.">
    <button id="btnSearch">검색하기</button>
</div>
<p>병원 태그를 모르시나요? <a href="/hosp/itemSearch" style="color:  #77bb77;">검색하기</a></p>
</body>
</html>