<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>병원 검색 결과</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<a href="/html/index">
    <img src="/image/Allergy_logo.png" alt="Allergy Logo">
</a>

<hr class="divider">
<br>
<div class="container">
    <div class="right">
        <h3>병원 검색 결과</h3>
        <div class="result-box">
            <h4>병원 태그 : <span th:text="${data}"></span></h4>
            <p><strong>병원 이름 :</strong> <span th:text="${rDTO.bplcnm}"></span></p>

            <div class="allergy-box">
                <p><strong>도로명주소 :</strong> <span th:text="${rDTO.rdnwhladdr}"></span></p>
            </div>
            <div class="allergy-box">
                <p><strong>업태구분명 :</strong> <span th:text="${rDTO.uptaenm}"></span></p>
            </div>
            <div class="allergy-box">
                <p><strong>전화번호 :</strong> <span th:text="${rDTO.sitetel}"></span></p>
            </div>
            <div class="allergy-box">
                <p><strong>영업상태명 :</strong> <span th:text="${rDTO.trdstatenm}"></span></p>
            </div>

            <p>병원태그 검색 결과 일치하는 태그가 <span id="result"></span></p>

            <script th:inline="javascript">
                /*<![CDATA[*/
                const res = [[${res}]];
                if (res === 1) {
                    document.getElementById('result').innerHTML = "<strong>존재합니다.</strong>";
                    document.getElementById('result').style.color = "#882323";
                } else {
                    document.getElementById('result').innerHTML = "<strong>존재하지 않습니다.</strong>";
                    document.getElementById('result').style.color = "#2a8823";
                }
                /*]]>*/
            </script>
        </div>
    </div>
</div>

</body>
</html>
