<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 수정하기</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnSend").on("click",function () {
                location.href = "/html/index.html";
            })
            $("#btnLogout").on("click",function () {

                $.ajax({
                    url: "/user/logout",
                    type: "post",
                    dataType: "JSON",
                    success: function (json) {

                        if (json.result === 1) {
                            alert(json.msg);
                            location.href = "/html/index.html";
                        } else {
                            alert(json.msg);
                        }
                    }
                })
            })
        })
    </script>
</head>

<body>
<div class="divTable minimalistBlack">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">로그인된 사용자아이디
            </div>
            <div class="divTableCell" th:text="${session.SS_userId + '님이 로그인 되었습니다.'}" ></div>
        </div>
    </div>
</div>
<div></div>
<br/><br/>
<button id ="btnSend" type="button"> 메인 화면 이동</button>
<button id ="btnLogout" type="button">로그아웃</button>
</body>
</html>
