<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>

<!-- JavaScript 코드 -->
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#newPasswordForm").submit(function (event) {
            event.preventDefault();
            var password = $("#password").val();
            var password2 = $("#password2").val();

            // 비밀번호가 일치하는지 확인
            if (password !== password2) {
                alert("입력한 비밀번호가 일치하지 않습니다.");
                return;
            }

            var formData = $(this).serialize();
            $.ajax({
                url: "/user/newPasswordProc",
                type: "post",
                dataType: "json",
                data: formData,
                success: function (json) {
                    if (json !== null && json !== undefined) {
                        if (json.msg === "success") {
                            alert("비밀번호가 재설정되었습니다.");
                            window.location.href = "/user/login"; // 로그인 페이지로 이동
                        } else {
                            alert("서버 오류: 비밀번호를 재설정할 수 없습니다.");
                        }
                    } else {
                        alert("서버로부터 응답을 받지 못했습니다.");
                    }
                },
                error: function () {
                    alert("서버 요청 중 오류가 발생했습니다.");
                }
            });
        });
    });
</script>


<form id="newPasswordForm" class="login-form">
        <div class="login-page">
            <div class="form">
            <h2 class="header-title">비밀번호 재설정</h2>

        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호">

        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password2" name="password2" placeholder="새 비밀번호 재입력">

        </div>
        <button id="btnSearch" class="w-100 btn btn-lg btn-primary" type="submit">비밀번호 재설정</button>

                <p class="message"> 회원이 아니신가요? <a href="userRegForm">회원가입 </a></p>
                <p class="message"> 아이디찾기 <a href="SearchUserId"> 아이디 찾기</a></p>
                <p class="message"> 로그인하기 <a href="login"> 로그인</a></p>
        </div>
        </div>

</form>

</body>
</html>