<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
</head>

<!-- JavaScript 코드 -->
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        $("#passwordSearchForm").submit(function (event) {
            event.preventDefault();
            let formData = $(this).serialize();
            $.ajax({
                url: "/user/searchPasswordProc",
                type: "post",
                dataType: "json",
                data: formData,
                success: function (json) {
                    if (json !== null && json !== undefined) {
                        if (json.msg === "success") {
                            alert("사용자를 찾았습니다. 비밀번호를 재설정하세요.");
                            // 비밀번호 재설정 페이지로 이동하면서 섹션 아이디를 설정
                            window.location.href = "/user/newPasswordResult?userId=" + $("#userId").val();
                        } else if (json.msg === "fail") {
                            alert("비밀번호를 찾을 수 없습니다. 입력 정보를 다시 확인해주세요.");
                        } else {
                            alert("알 수 없는 오류가 발생했습니다.");
                        }
                    } else {
                        alert("서버로부터 응답을 받지 못했습니다.");
                    }
                },
                error: function () {
                    alert("서버 요청 중 오류가 발생했습니다.");
                }
            });
        });
    });
</script>

<form id="passwordSearchForm" class="login-form">
    <div class="login-page">
        <div class="form">
            <h2 class="header-title">비밀번호 찾기</h2>

        <input type="text" class="form-control" name="userId" id="userId" placeholder="아이디">


    <div class="form-floating">
        <input type="email" class="form-control" name="email" id="email" placeholder="이메일">

    </div>
    <button id="btnSearch" class="w-100 btn btn-lg btn-primary" type="submit">비밀번호 찾기</button>

    <p class="message"> 회원이 아니신가요? <a href="userRegForm">회원가입 </a></p>
    <p class="message"> 아이디찾기 <a href="SearchUserId"> 아이디 찾기</a></p>
    <p class="message"> 로그인하기 <a href="login"> 로그인</a></p>

    </div>
    </div>

</form>
</body>
</html>