<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/profile.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <link href="/css/profile.css" rel="stylesheet" />
    <script type="text/javascript">
    <script src="/js/profile.js"></script>

</head>
<body>

<section id="userProfileWrapper">
    <section id="userProfileContainer">
        <section id="userProfileHeader">


            <h1 th:text="${session.SS_USER_ID}" > </h1> <!-- 세션에서 사용자 이름을 가져와 표시 -->

            <ul class="right">
                <li><a href="/html/index.html">메인페이지</a></li>
                <li><a href="#">고객센터</a></li>
                <li><a href="/notice/noticeList">게시판</a></li>
            </ul>

            <img src="/assets/img/profile.png">
        </section>
        <section class="modifyBlock">

        </section>
        <section id="userProfileContent">
            <div class="upiContainer-Full">
                <section class="upiBlock">

                    <h3>이름: <span class="col-sm-9 text-secondary" id="UserName" th:text="${rDTO.userName}"></span></h3>
                    <h3>이메일: <span class="col-sm-9 text-secondary __cf_email__" id="myEmail" th:text="${rDTO.email}"></span></h3>
                    <h3>주소: <span class="col-sm-9 text-secondary" th:text="${rDTO.addr1}"></span></h3>
                    <h3>상세주소: <span class="col-sm-9 text-secondary" th:text="${rDTO.addr2}"></span></h3>


                </section>
            </div>

            <div class="upiContainer-Full">
                <section class="upiBlock">
                    <a href="/user/profileEdit"><h3>회원 정보 수정</h3> </a>
                    <div class="upiItem"><a href="/user/profileEdit">정보수정 이동 <<< </a><p>회원정보 수정을 원하시면 상단의 글자를 클릭하세요!</p></div>
                </section>
            </div>


            <div class="upiContainer-Full">
                <section class="upiBlock">
                    <a href="/user/withdrawal"><h3>회원탈퇴 </h3> </a>
                    <div class="upiItem"><a href="/user/withdrawal">회원탈퇴 이동 <<< </a><p>회원탈퇴를 원하시면 상단의 글자를 클릭하세요!</p></div>
                </section>
            </div>

        </section>
    </section>
</section>

</body>
</html>