
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 110px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;;
}

.btn:hover {
    opacity: 0.9;
}

.dark {
    color: #fff;
}

.dark .btn {
    background: #f4f4f4;
    color: #333;
}

/* Showcase */
.showcase {
    width: 100%;
    height: 400px;
    background: url('https://i.ibb.co/zGSDGCL/slide1.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.showcase h2, .showcase p {
    margin-bottom: 10px;
}

.showcase .btn {
    margin-top: 20px;
}

/* Home cards */
.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.home-cards img {
    width: 100%;
    margin-bottom: 20px;
}

.home-cards h3 {
    margin-bottom: 5px;
}

.home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}

.home-cards a:hover i {
    margin-left: 10px;
}


.facility-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.facility-cards div {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 23%;
    transition: transform 0.3s;
}

.facility-cards div:hover {
    transform: scale(1.05);
}




/* Xbox */
.xbox {
    width: 100%;
    height: 350px;
    background: url('https://i.ibb.co/tBJGPD9/xbox.png') no-repeat center center/cover;
    margin-bottom: 20px;
}

.xbox .content {
    width: 40%;
    padding: 50px 0 0 30px;
}

.xbox p, .carbon p {
    margin: 10px 0 20px;
}

/* Carbon */
.carbon {
    width: 100%;
    height: 350px;
    background: url('https://i.ibb.co/72cgtsz/carbon.jpg') no-repeat center center/cover;
}

.carbon .content {
    width: 55%;
    padding: 100px 0 0 30px;
}

/* Follow */
.follow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;
}

.follow * {
    margin-right: 10px;
}

/* Links */
.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.links li {
    line-height: 2.8;
}

/* Footer */
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}

.footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer div i {
    margin-right: 10px;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}

.footer li {
    margin-right: 30px;
    margin-bottom: 20px;
}

@media(max-width: 700px) {
    .menu-btn {
        display: block;
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    .main-nav ul.right-menu {
        margin-right: 50px;
    }

    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top:0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }

    .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
    }

    .main-nav ul.main-menu.show {
        transform: translateX(-20px);
    }

    .home-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .xbox .content p {
        display: none;
    }

    .xbox .content h2 {
        margin-bottom: 20px;
    }

    .carbon .content {
        width: 85%;
    }

    .links .links-inner {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(max-width: 500px) {
    .home-cards {
        grid-template-columns: 1fr;
    }

    .links .links-inner {
        grid-template-columns: 1fr;
    }

    .links .links-inner ul {
        margin-bottom: 20px;
    }
}

.faq-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.question {
    font-weight: bold;
    cursor: pointer;
}

.answer {
    display: none;
    margin-top: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* Google 폰트 적용 */
.header-text, .health, .comfort, .subText {
    font-family: 'Roboto', sans-serif;
}

.mainText {
    font-size: 50px; /* 글자 크기 조정 */
    font-weight: 800; /* 굵은 글씨체 */
}

.SearchText {
    font-size: 25px; /* 글자 크기 조정 */
    font-weight: 800; /* 굵은 글씨체 */
}


.health {
    color: green;
    /* 폰트 굵기는 이미 .mainText에서 적용됨 */
}

.comfort {
    color: #2451d2;
    /* 폰트 굵기는 이미 .mainText에서 적용됨 */
}

.subText {
    font-size: 30px; /* 서브 텍스트 글자 크기 조정 */
    /* 폰트 굵기가 필요하다면 여기에 추가 */
}

.centered-title {
    text-align: center; /* 텍스트를 가운데 정렬합니다 */
    margin-bottom: 100px;
    color: #2451d2;

}
 .title {
     color: #2451d2; /* 텍스트 색상을 지정된 파란색으로 설정 */
 }

.text-center {
    text-align: center;
}

.mainText {
    font-size: 2rem; /* 원하는 크기로 조정하세요 */
    font-weight: bold; /* 원하는 폰트 두께로 조정하세요 */
}

.subText {
    font-size: 1.5rem; /* 원하는 크기로 조정하세요 */
    color: #666; /* 원하는 색상으로 조정하세요 */
}


.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #343a40; /* 로고 텍스트 색상 */
}

.highlight {
    color: #007bff; /* 강조 색상 */
}


/* 이미지에 적용될 스타일 */
.logo-image {
    width: 150px; /* 또는 다른 크기 */
    height: auto; /* 이미지의 비율을 유지하도록 설정 */
}

body .logo-image {
    width: 150px;
    height: auto;
}

.image-container {

}

/* 또는 이미지에 직접 스타일을 적용 */
.logo-image {
    display: block; /* 이미지를 블록 요소로 만듭니다 */
    margin-left: auto; /* 왼쪽 마진을 자동으로 설정하여 중앙 정렬합니다 */
    margin-right: auto; /* 오른쪽 마진을 자동으로 설정하여 중앙 정렬합니다 */
    width: 150px; /* 이미지 너비를 설정합니다 */
    height: auto; /* 이미지의 비율을 유지합니다 */
}

.layout {
    display: flex; /* Flexbox를 사용하여 요소를 가로로 배열 */
    align-items: center; /* 내용물을 세로 방향 중앙에 배치 */
}

.clickable {
    padding: 10px;
    margin: 10px 0; /* Only top and bottom margin */
    border: 2px solid black; /* Initial border color set to black */
    text-align: left; /* Aligns text to the left */
    display: block; /* Makes the div element fill the width of the container */
    font-weight: bold; /* Makes the text bold */
}

.clickable:focus,
.clickable:active {
    outline: none; /* Removes default focus outline */
    border-color: blue; /* Changes border to blue when focused or active */
}

.clickable:hover {
    cursor: pointer;
}

.image {
    margin-right: 10px; /* 이미지와 텍스트 사이 간격 */
    width: 100px; /* 너비를 100픽셀로 설정 */
    height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
}

@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'NIXGONM-Vb';
}

button {
    z-index: 10;
    margin-top: -10px;
    padding: 5px 10px;
    border: none;
    background-color: #2451d2;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

#btnWrite {
    background-color: #4CAF50FF;
}

/* btnLogin에 대한 hover 효과 */
#btnWrite:hover {
    background-color: #43A047FF; /* 새로운 배경색 */;
}


.card {
    z-index: 10;
    cursor: pointer;
    background-color: rgba(251, 251, 251, 0.9); /* Adjust opacity as needed */
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Softer shadow */
    transition: all 0.3s ease-in-out;
    border: 1px solid #2ecb62; /* Optional: might blend well with a light background */
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    background-color: rgb(46, 203, 98); /* Solid color on hover */
}

footer {
    background-color: #2b2b36;
    color: #2ecb62;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #2ecb62;
    font-size: 2.5rem; /* 폰트 크기 증가 */
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* 텍스트에 그림자 효과 추가 */
    margin-bottom: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.hidden-text {
    display: none; /* 초기에 숨겨짐 */
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin-top: 10px;
    cursor: default;
}

.clickable {
    padding: 11px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: inline-block;)
}

